@using Buyalot.Repository;
@{
    ICategoryRepository iCategoryRepository = new CategoryRepository();
}

@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html @*ng-app="AngularApp"*@>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/bundles/Angular")
    @Scripts.Render("~/bundles/AngularApp")
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/app/Directives/Validation.js"></script>
    <style type="text/css">
        ul {
            padding: 0;
            list-style: none;
            background: #f2f2f2;
        }

            ul li {
                display: inline-block;
                position: relative;
                line-height: 21px;
                text-align: left;
            }

                ul li a {
                    display: block;
                    padding: 8px 25px;
                    color: #333;
                    text-decoration: none;
                }

                    ul li a:hover {
                        color: #fff;
                        background: #939393;
                    }

                ul li ul.dropdown {
                    min-width: 100%;
                    background: #f2f2f2;
                    display: none;
                    position: absolute;
                    z-index: 999;
                    left: 0;
                }

                ul li:hover ul.dropdown {
                    display: block;
                }

                ul li ul.dropdown li {
                    display: block;
                }
    </style>
    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace", "Ajax"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: "c34a802c-45b6-4cc2-8469-3bd06bd4d238"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body @*ng-app="HomeController"*@>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink(".", "Index", "Home", new { area = "" }, new { @class = "logo" })*@
                <img href="/#/home" class="logo" />
            </div>
            <div class="navbar-collapse collapse" collapse="navbarProperties.isCollapsed">
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["cusName"] != null)
                    {
                        <li>
                            <a>Welcome @Session["cusName"] </a>
                        </li>
                    }
                    else
                    {
                        <li> <a href="/#/login">Login</a></li>
                        <li><a href="/#/register">Register</a></li>
                    }
                    @*<li>@{Html.RenderAction("AddToCart", "Products");}</li>*@

                    @*<li>@Html.ActionLink(" " + ViewData["CartCount"] + "", "AddToCart", "Products", new { @class = "glyphicon glyphicon-shopping-cart"})</li>
                        <li>@Html.ActionLink(" " + ViewData["CartWishCount"] + "", "AddToWishlist", "ProductsWishlist", new { @class = "glyphicon glyphicon-heart" })</li>*@

                    <li>@Html.ActionLink(" " + Convert.ToInt32(Session["cartCounter"]) + "", "AddToCart", "Products", new { @class = "glyphicon glyphicon-shopping-cart" })</li>
                    <li>@Html.ActionLink(" " + Convert.ToInt32(Session["wishCounter"]) + "", "AddToWishlist", "ProductsWishlist", new { @class = "glyphicon glyphicon-heart" })</li>
                    @if (Session["cusName"] != null)
                    {
                        <li class="dropdown" dropdown="">
                            <a href="#" class="dropdown-toggle" dropdown-toggle="" data-toggle="dropdown">
                                <span>My Account</span><b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="/#/trackOrder">Track Order</a>
                                </li>
                                <li>
                                    <a href="/#/profile">Profile</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="#" ng-click="logout()">Logout</a>
                        </li>

                    }
                </ul>
            </div>
        </div>
    </div>

    @*@Html.Partial("Index")*@


    <div class="navbar-collapse collapse" collapse="navbarProperties.isCollapsed">

        <ul class="nav navbar-left col-lg-2 x-ms">
            <li class="dropdown" dropdown="">
                <a href="#" class="dropdown-toggle" dropdown-toggle="" data-toggle="dropdown">
                    <span>Available Product Categories</span><b class="caret"></b>
                </a>
                <ul class="dropdown" role="menu">


                    @foreach (var category in iCategoryRepository.findAll())
                    {
                        <li>
                            <a href="@Url.Action("Category", "Home", new { id = category.prodCategoryID })">@category.categoryName</a>
                        </li>
                    }

                </ul>
            </li>
        </ul>
    </div>

   


    <div class="container mainContent" ng-app="AngularApp">
        <br />
        <div ng-view>            
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Buyalot</p>
        </footer>
    </div>
</body>
</html>