@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html @*ng-app="AngularApp"*@>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Buyalot</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/bundles/Angular")
    @Scripts.Render("~/bundles/AngularApp")
    @Scripts.Render("~/bundles/jqueryval") 

    <script src="~/app/Directives/Validation.js"></script>

    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace","Ajax"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
        }({
            instrumentationKey:"c34a802c-45b6-4cc2-8469-3bd06bd4d238"
        });

        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body ng-app="HomeController">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Buyalot", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" collapse="navbarProperties.isCollapsed">

                <ul class="nav navbar-nav navbar-right">
                   @if (Session["cusName"] != null)
                   {
                    <li><a>Welcome @Session["cusName"] </a></li>
                   }
                    <li><a href="/#/login">Login</a></li>
                    <li><a href="/#/register">Register</a></li>

                    <li class="dropdown" dropdown="">
                        <a href="#" class="dropdown-toggle" dropdown-toggle="" data-toggle="dropdown">
                            <span>My Account</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/#/trackOrder">Track Order</a></li>
                            <li><a href="/#/profile">Profile</a></li>

                        </ul>
                    </li>

                    <li><a href="#" ng-click="logout()">Logout</a></li>
                </ul>

                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>


    @*<div class="navbar-collapse collapse" collapse="navbarProperties.isCollapsed">
        <ul class="nav navbar-nav">
            <li class="dropdown" dropdown="">
                <a href="#" class="dropdown-toggle" dropdown-toggle="" data-toggle="dropdown">
                    <span>Browse Category</span><b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/#/Desktops">Desktops</a></li>
                    <li><a href="/#/Laptops">Laptops</a></li>
                    <li><a href="/#/MobilePhones">Mobile Phones</a></li>

                </ul>
            </li>
        </ul>
    </div>


    <div class="navbar-collapse collapse" collapse="navbarProperties.isCollapsed">
        <div class="nav navbar-nav">
            <select name="CategoryList" ng-model="productCategoryModel.CategoryList" class="form-control" ng-required="true">
                <option value="">--Browse Category--</option>
                <option ng-repeat="CategoryList in CategoryLists" value="{{CategoryList.value}}">
                    {{CategoryList.categoryName}}
                </option>
            </select>
    </div>
    </div>*@




    @*<div ng-view></div>*@
    <div class="container mainContent">
        <br />
        <div ng-view>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Buyalot</p>
        </footer>
    </div>

</body>
</html>